/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face{
     font-family: biko;
     src: fonts/biko/Biko_Regular.otf;
   }
   .gfnav{
     font-family: biko;
   }


   .gfnav         h4:link,
                  a:link,
                  h4:visited,
                  a:visited{
     text-decoration:none;
     color: black;
   }
   .gfnav         h4:hover,
                  a:hover,
                  h4:active,
                  a:active{
     text-decoration:none;
     color:#bd0430;
   }

   .atongueBody{
      margin-top: 5%;
      font-style: 'serif';
   }
   .atongueBody img{
      margin-left: 5%;
      margin-right: auto;
      margin-bottom: 20px;
   }

   .golden{
      display: block;
      margin-left: 5%;
      margin-right: auto;
      margin-bottom: 5%;
      width: 800px;
      height: 600px;
   }

   .golden h1{
      margin-left: 50%;
      margin-right: auto;
   }

   #goldenID canvas{
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 2%;
      max-width: 800px;
      min-width: 400px;
      border-style: solid;
      border-width: 10px;
   }

   .shapeGame{
   	display: block;
   	margin-top: 10%;
   	margin-left: 10%;
   	margin-right: auto;
   }

   #shapeID canvas{
   	border-width: 20px;
   	border-color: black;

   }

   #janID{
   	display: inline;
   	z-index: -10;
   }

   #redID{
   	display: inline;
   	z-index: -10;
   }



   h3, h3 small {
   	color: #000;
   }

   body {
   	/*background-color: #fffdf4;*/
    background-color: #fffef7;
   	/*background-image: url(../img/bgTexture2.png);*/
   	background-repeat: repeat;
   	color: #000;


   }

   .bluePoly{
   	position: fixed;
   	padding-top: 2%;
   	left: 0px;
   	right: auto;
    z-index:-50;
    opacity: 0.9;
   }

   .bluePoly img{
    position:relative;
   	width: 90%;
   	max-width: 100%;
    z-index: 0;
   	-webkit-animation-name: bluePolyAnimation;
   	-webkit-animation-duration: 20s;
   	-webkit-animation-direction: alternate;
   	-webkit-animation-iteration-count: infinite;
   }

   .top{
   	position: relative;
   	z-index: 20;
   	padding-top: 10px;
   }
   .title {
     margin-left: 20%;
   }
   .title h3{
     margin-top:0px;
     text-align:center;
   }
   .title img{
    width: 200px;
    min-width: 250px;
   	margin-bottom: 0px;
   }
   .whatwedo {
     display:block;
     margin-left:auto;
     margin-right:auto;
   }

   .halftone{
    position: relative;
   	padding-top: 20px;
   	top: auto;
   	bottom: 0px;
   	max-width: 80%;
   	min-width: 300px;
   }

   .halftone img{
     position: relative;
     z-index: 50;
     opacity: 1;
   }

   .btn {
   	font-family: serif;
   	font-size: 160%;
   }

   .well {
   	margin-top: 19px;
   	background-color: rgba(255, 255, 255, 0.3);
   	background-position-y: -50px;
   	background-repeat: repeat;
  	border: 0px solid #000;
  	opacity: 1;
  	border-radius: 15px 70px;
  	z-index: 100;
   }

   .well h1,
   		 h2,
   		 h3,
   		 h4,
   		 h5,
   		 h1 small,
   		 h2 small,
   		 h3 small,
   		 h4 small,
   		 h5 small,
   		 p{
   	color: #000;
   }

   .well small{
   	padding-left: 0px;
   }

   .well iframe{
   	padding-top: 19px;
   }

   .portWell {
	  min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  margin-top: 20px;
	  background-color: #fff;
	  border: 0px solid #ccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	  z-index: 100;
	}


   .navigate{
   	padding-top: 5%;
   	padding-bottom: 5%;
   }

   canvas{
   	width: 100%;
   	height: auto;
   }

   .row {
   	position: relative;
   	z-index: 100;
   }

   .row a:link{
     color: #346193;
   }
   .row a:visited{
     color: #346193;
   }
   .row a:hover{
     color: #bd0430;
   }
   .row a:active{
     color: #bd0430;
   }

   .panel {
   	border: 0px;
    }

	.gf {
	  background-color: transparent;
	  display: inline-block;
	  padding: 6px 12px;
	  margin-bottom: 0;
	  font-size: 14px;
	  font-weight: normal;
	  line-height: 1.42857143;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	      touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	  background-image: none;
	  border: 0px solid transparent;
	  border-radius: 4px 100px;
	}

	.gf img {

	}


	.icons img {
		max-width: 32px;
		max-height: 32px;
	}

	.panel-group{
		z-index: 100;
	}

	.panel{
		background-color: transparent;
	}

	iframe{
		padding-bottom: 10px;
		opacity: 1;
	}

	.table iframe{
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 0px;
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
	  padding: 8px;
	  line-height: 1.42857143;
	  vertical-align: top;
	  border-top: none;
	  border-bottom: none;
}

.tumblr-post{
  size:50%;
}

@-webkit-keyframes bluePolyAnimation {
	0%{
		-webkit-transform: translate(0%, 0%);
	}
	100%{
		-webkit-transform: translate(0%, 15%);
	}
}
